{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/events.js') }}"></script>
{% endblock %}
{% block body %}
    {% if status == 1 %}
        <div id="message">Zapisano pomyślnie dane!</div>
    {%endif%}
    <div id="mainEvent">
        <div id="nextEvent">
            <div id="eventDate">{{mainEvent.date|date("j F")}}</div>
            <div id="eventName">{{mainEvent.name}}</div>
        </div>
        <div id="eventActions" class="eventsCenter">
            <a class="eventAction" id="eventEdit" href="/editEventView/{{mainEvent.id}}">Edytuj wydarzenie</a>
            <a class="eventAction" id="eventComments" href="/showComments/{{mainEvent.id}}">Zobacz komentarze</a>
            <a class="eventAction" id="eventAdd" href="/addEvent">Dodaj nowe wydarzenie</a>
        </div>
    </div>
    <div id="events">
        <h3>Wszystkie wydarzenia:</h3>
        {% for event in events %}
            <a class="yourEvent" href="/showEvent/{{event.id}}">{{ event.date|date("j F") }} {{event.name}}</a>
        {% endfor %}
    </div>
{% endblock %}